.slider-container{
  position:relative; 
  overflow: hidden;
  margin: 0 auto;
}

.slider-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App{
  width: 100%;
}
.experimentWindow{
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.slider-line{
  position: relative;
}
.slider-item{
  border: 3px solid transparent;
}
.active{
  border: 3px solid gold;
}